body {
    background: black;
    overflow: hidden;
    margin: 0;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    from {
        transform: translateY(0vh);
    }
    to {
        transform: translateY(100vh);
    }
}
