body {
    margin: 0;
    overflow: hidden;
}

.sky {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #1a1a2e;
    overflow: hidden;
}

/* Stars */
.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        radial-gradient(1px 1px at 25px 25px, white, rgba(255,255,255,0)),
        radial-gradient(1px 1px at 75px 75px, white, rgba(255,255,255,0)),
        radial-gradient(1px 1px at 125px 50px, white, rgba(255,255,255,0)),
        radial-gradient(1.5px 1.5px at 175px 100px, white, rgba(255,255,255,0));
    animation: stars-flicker 2s infinite alternate;
}

@keyframes stars-flicker {
    0% { opacity: 1; }
    50% { opacity: 0.8; }
    100% { opacity: 1; }
}


/* Clouds */
.clouds {
    position: absolute;
    top: 10%;
    left: 0;
    width: 200%;
    height: 100%;
    background: 
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAABkCAYAAACvgC0DAAAABmJLR0QA/wD/AP+gvaeTAAACyklEQVR4nO3d4W7bQBRA0Ukh3P+y9kR6KAIlAlI5M9mG2Jk2/3gCLL/gYl9fX/+83+/ff/v+/fvv9/v33/48fp/P+/e/v/7+cZ/P+w+vX3/+/v3/9/v33+6/AGL/GrgAiv0FcAFUAFUAFUAFUAFUAFUAFUAFkF8GV4AKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA8gAKoAKIANKgAogA/gP93AP8A/6sR9AMwbg4AAAAASUVORK5CYII=') repeat-x;
    animation: move-clouds 20s linear infinite;
    opacity: 0.1;
}


/* Building Layers */
[class^="buildings-"] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 50%;
    animation-duration: linear;
    animation-iteration-count: infinite;
}

.buildings-back {
    background: #1c1c3c;
    height: 30%;
    animation-name: move-back;
    animation-duration: 40s;
    z-index: 1;
    opacity: 0.7;
}

.buildings-mid {
    background: #2a2a58;
    height: 40%;
    animation-name: move-mid;
    animation-duration: 25s;
    z-index: 2;
    opacity: 0.8;
}

.buildings-front {
    background: #000;
    height: 25%;
    animation-name: move-front;
    animation-duration: 15s;
    z-index: 3;
}


/* Parallax Animation */
@keyframes move-clouds {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
@keyframes move-back {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@keyframes move-mid {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@keyframes move-front {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}


/* Add some pixelated details using pseudo-elements */
.buildings-front::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, 
        #000 5px, transparent 5px) 0 0 / 10px 10px,
        linear-gradient(to right, 
        #111 2px, transparent 2px) 0 100% / 10px 10px;
    background-repeat: repeat-x;
}
.buildings-mid::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: 
        /* Windows */
        linear-gradient(to top, transparent 50%, #444 50%) 0 0 / 15px 15px,
        linear-gradient(to top, transparent 70%, #555 70%) 5px 5px / 25px 25px,
        linear-gradient(to top, transparent 60%, #333 60%) 15px 10px / 35px 35px;
    background-repeat: repeat;
    opacity: 0.2;
}
